.ui.borderless.topmenu.menu{
  background-color: #fff;
  box-shadow: none;
  border: none;
  width: 100%;
}

.ui.borderless.middlemenu.menu{
  box-shadow: none;
  border: none;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-background {
  height: 200px;
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 500;
}
